@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  margin-right: 15px;
  margin-left: 20px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}
input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 0.5px solid #222222;
}
main {
  box-shadow: 5px 3px 30px 25px rgba(221, 214, 214, 0.66);
  -webkit-box-shadow: 5px 3px 30px 25px rgba(221, 214, 214, 0.66);
  -moz-box-shadow: 5px 3px 30px 25px rgba(221, 214, 214, 0.66);

  background-color: white;
  display: flex;
  /*   padding: 150px 110px; */
  border-radius: 15px;
  box-shadow: #222222 solid 2px;
}

.slide {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.slide:checked {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
img {
  margin: 10px;
}
input[type="submit"] {
  color: #f8f8f8;
  font-size: 16px;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #6dabe4;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.slider-tab {
  z-index: 0;
  width: 100px;
  height: 40px;
  background-color: #007bff;
  border-radius: 20px;
  position: absolute;
  transition: left 0.3s ease;
}

#login:checked ~ .slider-tab {
  left: 0;
}

#signup:checked ~ .slider-tab {
  left: 50%;
}

.choose-form {
  margin: 10px;
  width: 200px;
  display: flex;
  position: relative;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
input[type="checkbox"] {
  margin-left: 15px;
}
label {
  display: inline;
  position: relative;

  text-wrap: nowrap;
  font-size: 16px;
  margin-right: 15px;
}

@media screen and (max-width: 750px) {
  main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3%;
  }
}
.relative {
  position: relative;
}
@media screen and (max-width: 300px) {
  main {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 99%;
    top: 2%;
  }
  input[type="checkbox"] {
    display: inline;
  }
  label {
    position: absolute;
    left: 32px;
    font-size: 13px;
    white-space: wrap;
  }
  img {
    width: 200px;
  }
  input[type="submit"] {
    margin-top: 15px;
    margin-left: 30%;
    font-size: 15px;
    width: 100px;
    height: 40px;
  }
  .slider-tab {
    width: 100px;
  }
  .choose-form {
    margin: 10px;
    width: 150px;
    margin-left: 10%;
  }
}
#form2 input[type="text"],
#form2 input[type="password"] {
  width: 120%;
  margin-right: 80px;
}

#form2 {
  margin-right: 90px;
}
#loginbutton {
  margin-left: 40%;
}
#tlogin {
  padding-right: 80px;
  padding-left: 80px;
}
.error {
  color: red;
  border-bottom: 1px solid red;
  background-color: #ffebeb;
}
.valid {
  color: green;
  border-bottom: 1px solid green;
  background-color: #cdeccd;
}
.incorrect,
.incorrect1 {
  text-wrap: wrap;
  font-size: 12px;
  color: red;
  padding-left: 17px;
}
